@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
	background: #448ed3 ;
	font-family: "Lato" ;
	background-image:url('../images/1_Splash.jpg');
	background-size:cover;
}
.wrap {
	width:90%;
	height: auto;
	margin: auto;
	margin-top: 10%;
}
.wrap_ls {
	width:90%;
	height: auto;
	margin: auto;
	margin-top: 10%;
	margin-left: 5%;
}
.avatar {
	width: 100%;
	margin: auto;
	width: 65px;
	border-radius: 100px;
	height: 65px;
	background: #448ed3 ;
	position: relative;
	bottom: -15px;
}
.avatar img {
	width: 55px;
	height: 55px;
	border-radius: 100px;
	margin: auto;
	border:3px solid #fff;
	display: block;
}
.wrap input {
	
}
.bar {
	width: 100%;
	height: 1px;
	background: #fff ;
}
.bar i {
	width: 95%;
	margin: auto;
	height: 1px ;
	display: block;
	background: #d1d1d1;
}
.wrap input[type="text"] {
	border-radius: 7px 7px 0px 0px ;
}
.wrap input[type="password"] {
	border-radius: 0px 0px 7px 7px ;
}
.forgot_link {
	color: #83afdf !important ;
	color: #83afdf;
	text-decoration: none;
	font-size: 15px;
	margin-bottom: 20px;
}
.forgotdiv
{
	text-align: center;
}
.signlink {
	width: 100%;
	border-radius: 7px;
	text-decoration: center;
	border: none;
  margin-top:-5px;
	padding-top: 14px;
	padding-bottom: 14px;
	outline: none;
	font-size: 13px;	
	cursor: pointer;
}
