body
{
	height: 100%;
	overflow: auto;
}
.fa-2x {
    font-size: 2em;
    color: #333333;
}

.navbar-default {
    background-color: #ffffff;
    background: #ffffff;
    border-color: #e7e7e7;
}
#top
{
	height: 100%;
	width: 100%;
	overflow: auto;
}

#activities
{
    
    background-color: #ffffff;
   
}
#eventTable
{
	
	margin-top: 3vh;
}
.eventlist
{
	
    height: auto;
    overflow: auto;
}
.eventimg
{
	width: 30%;
    float: left;
    height: 100px;	
    margin-right: 5%;
}
.eventimg img {
    width: 100%;
    height: 100%;
}
.eventdetails
{
	 width: 60%;
    float: left;
    text-align: center;
}
.eventname{
    margin-top: 11px;
    font-size: 18px;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}
.eventaddress{
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 0px;
    font-weight: bold;
    color: #989797;
}

/*event page */
#eventPane
{
height: 92vh;
    width: 100%;
    margin-top: 50px;
    overflow: auto;
    background-color: #ffffff;
}
.eventdata
{
    text-align: center;
}
.eachevent img
{
    height: 200px !important;
    width: 100%;
}
.eventdistance
{
    text-align: center;
}
.logoutfooter
{
    background: -webkit-linear-gradient(top, #6470fa, #8d6ed3);
    background: linear-gradient(to bottom, #6470fa, #8d6ed3);
    padding: 20px 0px;
}
.links
{
    font-size: 12px;
}

/*setting page update profile */
.settings
{
 background-color: #ffffff;
    background: #ffffff;
    border-color: #ffffff;   
}
.settings a
{
    color:#cccccc !important;
}
.settings .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 83px;
    font-size: 20px;
    line-height: 20px;
    color: #cccccc !important;
    position: relative;
    width: 0%;
    left: 0%;
    text-align: center;
}
.settings .navbar-toggle .icon-bar {
    background-color: #c1c1c1;
}
.settings .navbar-toggle .icon-bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 1px;
}
.settings .navbar-header
{
    padding:10px 0px;
}
.updatepage
{
    height: 86%;
    overflow: auto;
    background-color: #ffffff;
    margin-top: 20%;
}
.updateheadings
{
        width: 100%;
    height: auto;
    padding: 15px 0px;
    /* text-align: center; */
    background-color: #efefef;
}
.updatedetails
{
     height: auto;
     overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color:#000000;
}
hr {
    margin-top: 0px;
    margin-bottom: 0px;
    /* border: 0; */
    border-top: 1px solid #eee;
}
.settings .navbar-nav>li>a {
    color: #777 !important;
}
/*flat slider */
.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
  border-radius: 0;
}

.flat-slider.ui-slider {
  border: 0;
  background: #f7d2cc;
  border-radius: 7px;
}

.flat-slider.ui-slider-horizontal {
  height: 3px;
}

.flat-slider.ui-slider-vertical {
  height: 15em;
  width: 3px;
}

.flat-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background: #38b11f;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -10px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  margin-left: -10px;
}

.flat-slider .ui-slider-handle:hover {
  opacity: .8;
}

.flat-slider .ui-slider-range {
  border: 0;
  border-radius: 7;
  background: #f99;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 3px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 3px;
}
/*event design page*/
.newEvent
{
  background-color: #ffffff;
}
/*login screen */
.loginscreen
{
  height: 100%;
  background-color: #ffffff;
    overflow: auto;
}
.loginname
{
    margin-top: 60px;
    margin-left:30px;
    font-size: 62px;
    color: #d2d2d2;
    margin-bottom: 60px;
}
.fa-chevron-left
{
  color:#d2d2d2;
}
.signlink
{
      background: -webkit-linear-gradient(top, #6470fa, #8d6ed3);
    background: linear-gradient(to bottom, #6470fa, #8d6ed3);
    padding: 20px 0px;
}
.loginfooter a
{
  color:#000 !important;
}
.loginfooter
{
  padding:20px 0px;
}
.loginfooter p
{
  text-decoration: underline;
  background: -webkit-linear-gradient(top, #6470fa, #8d6ed3);
    background: linear-gradient(to bottom, #6470fa, #8d6ed3);
  -webkit-background-clip: text;
}
.bx-wrapper
{
  margin-bottom: 0px !important;
}
.pp
{
  color: #3c95de !important;
}
/*map page*/
.eventname1{
    margin-top: 11px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
}
.eventaddress1{
    font-size: 12px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight: bold;
    color: #989797;
}
.mapeventlist img
{
  height: 120px;
  width: 100%;
      border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.mapeventlist .col-xs-5
{
padding-right: 0px;
}
.mapeventlist .col-xs-7
{
  padding-left: 5px;
}
/*.mapeventlist
{
  border-right: 1px solid #d5d4d4;
}*/
.mapeventlist
{
  background-color: #ffffff;
  height:180px;
      border-radius: 12px;
    float: left;
    list-style: none;
    position: relative;
    width: 175px;
    margin-right: 10px;
}
.eventimage
{
  padding: 0px;
}
.fa-eye
{
    background: -webkit-linear-gradient(top, #6470fa, #8d6ed3);
    background:linear-gradient(top, #6470fa, #8d6ed3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-map-marker
{

    background: -webkit-linear-gradient(top, #6470fa, #8d6ed3);
    background:linear-gradient(top, #6470fa, #8d6ed3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*navbar*/
.navbar-default .navbar-nav>li>a {
    color: #777 !important;
}

.signlinkoutline
{
    padding: 20px 0px;
     border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #6470fa, #8d6ed3);
  -webkit-border-image: -webkit-linear-gradient(top, #6470fa, #8d6ed3);
  border-image: linear-gradient(to bottom, #6470fa, #8d6ed3);
  border-image-slice: 1;

  background: -webkit-linear-gradient(top, #6470fa, #8d6ed3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.signlinkoutline, .signlinkfull{
    width: 100%;
    
    text-decoration: center;
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    outline: none;
    font-size: 13px;
    cursor: pointer;
}
.signlinkfull
{
      background: -webkit-linear-gradient(top, #6470fa, #8d6ed3);
    background: linear-gradient(to bottom, #6470fa, #8d6ed3);
    padding: 20px 0px;
}
.loginfirst
{
  height: auto;
  overflow: auto;
  position: absolute;
  bottom: 13%;
}