.logo
{
	height:100%;
	width:100%;
	position:absolute;
}
.menu-button-style  {
    background-color: white;
    border: transparent;
    margin-left: 5%;
}

#login
{
	background-color:#323232 ;
}
#loginform
{
	position:absolute;
	top:34%;
	width:92%;
}
#loginheading
{
	color:#ffffff;
	margin-bottom:8%;
}
.ui-page-theme-a .ui-body-inherit
{
	background-color: #fff;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 0px 0 #f3f3f3;
}
/*.ui-input-text input {
    margin: 0;
    min-height: 2.8em;
    text-align: left;
    border: 0 !important;
    background: rgba(0, 0, 0, 0) none !important;
    -webkit-appearance: none !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
}*/
.ui-input-text {
    margin: .7em 0;
    border-width: 0px;
    border-style: solid;
}

/*main page */
#mainpage
{
	height:100%;
	width:100%;
	
}
#map-canvas
{
	height:100%;
	width:100%;
	padding:0em;
}

.header
{
	background-color:#323232 !important;
	color:#ffffff;
}
a
{
	color:#ffffff !important;
	text-decoration:none;
	font-weight:400 !important;
	letter-spacing:2px;
}
.ui-btn.ui-icon-bars, .ui-btn.ui-icon-power, .myPanel .ui-btn
{
	background-color: #323232 !important;
    color: #333;
    text-shadow: 0 0 0 #f3f3f3 !important;
}
.ui-btn .submitlogin
{
	background-color: #ededed  !important;
    color: #000;
    text-shadow: 0 0 0 #f3f3f3 !important;
}
.heading
{
	padding:20px 0px;
	padding-bottom:40px;
	color:#ffffff;
}
.myPanel
{
	background-color:#323232 !important;
}

.ui-li-count {
   position: absolute;
    font-size: 0px;
    font-weight: bold;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    padding: 0em;
    line-height: 1.6em;
    min-height: 0em;
    min-width: 0em;
    right: 1%;
    top: 13%;
    margin-top: -.88em;    
}

.ui-li-count .ui-btn, .ui-btn.submitalarmbutton {
    font-size: 10px;
    margin: 0em 0;
	background-color:#ff8a00 !important;
	border-color:#ff8a00 !important;
	border:2px;
}
.ui-li-count .ui-btn-inline {
	margin-right:0px;
}
 .ui-li-count >.ui-btn-icon-right:after {
    content: "";
    position: absolute;
    display: block;
   width: 6px;
    height: 6px;
    padding: 4px;
}
 .ui-li-count >.ui-btn-icon-right:after {
    top: 50%;
    margin-top: -7px;
}
.ui-nosvg .ui-icon-carat-r:after {
    background-size: 10px 10px;
}
table th{
	font-size:0.7em;
}
table td
{
	text-shadow:0px;
	font-size:0.8em;
}
.ui-table-reflow td .ui-table-cell-label
{
	float:left !important;
}
h3
{
	font-size:12px;
	text-transform:capitalize;
	text-shadow:0px;
}
.ui-content.reslovedinfo  .ui-btn
{
	background-color:#11ad04 !important;
	border-color:#11ad04 !important;
}
.ui-content.reslovedinfo  .ui-btn.closebutton
{
	background-color:#d80101 !important;
	border-color:#d80101 !important;
}
.setunresloveifo a.ui-btn, .setresloveifo a.ui-btn{
	color:#000 !important;
}


/*slider*/

.slides
{
	position:absolute;
	bottom:0;
	padding:0px;
	/*background-color:#ffffff;*/
	    width: 100%;
}
.slides .thumbnail
{
	margin-bottom:0px;
}
.carousel-control {
    padding-top: 61px;
}
.thumbnail a>img, .thumbnail>img {
    /* margin-right: auto; */
    /* margin-left: auto; */
    margin: 0px;
    width: 100%;
    height: 10%;
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 36%;
    top: 0;
    text-align: center;
    margin: auto;
    padding:0;
}

.navbar-toggle {
    z-index:1;
}
.navbar-toggle {
    position: relative;
    float: left;
	margin-right:0px;
    margin-left: 15px;
    
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #9e9e9e;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ffffff;
}
.mainhead .listbuttons {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 14%;
    padding-bottom:1%;
    border-bottom: 1px solid #efefef;
}
.mainhead .listbuttons1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
    padding-bottom:2%;
    border-bottom: 1px solid #efefef;
}
.mainhead .btn-default {
    color: #333;
    background-color: #e0e0e0;
    border-color: #ccc;
}
.halflistbuttons
{
    text-align: center;
    padding: 4%;
}
.halflistbuttons a
{
    color: #000000 !important;
}
.halflistbuttons a:hover, .halflistbuttons a:active, .halflistbuttons a:focus, .halflistbuttons a:visited
{
 background: -webkit-linear-gradient(top, #6470fa, #8d6ed3);
    background:linear-gradient(top, #6470fa, #8d6ed3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #ffffff; 
}
.searchmodal
{
    margin-bottom: 15%;
}
.modal-footer {
    padding: 0px; 
    border-top: 1px solid #e5e5e5;
}
.modal-footer .searchbutton
{
      background: -webkit-linear-gradient(top, #6470fa, #8d6ed3);
    background: linear-gradient(to bottom, #6470fa, #8d6ed3);
    padding: 20px 0px;
}
.popularlist .btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group
    {
    margin: 10px 5px; 
   width: auto;
}
.searchicon
{
    position: absolute;
    right: 2%;
    width: 10%;
    top:14%;
}