.signup {
    padding: 30px 20px;
    background-color: white;
    text-align: center;
    border-radius: 5px 0 0 5px;


[type=text] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 45px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(0,0,0,.4);
}

[type=submit] {
  margin-top: 25px;
  width: 80%;
  border: 0;
  background-color: #53CACE;
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;
}

[type='text']:focus {
  outline: none;
  border-color: #53CACE;
}
[type='password']:focus {
  outline: none;
  border-color: #53CACE;
}

}
/*
h1 {
  color: rgba(0,0,0,.7);
  font-weight: 900;
  font-size: 2.5em;
}

p {
  color: rgba(0,0,0,.6);
  font-size: 1.2em;
  margin: 50px 0 50px 0;
}

span {
  font-size: .75em;
  background-color: white;
  padding: 2px 5px;
  color: rgba(0,0,0,.6);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  margin: 5px;
}

span:hover {
  color: #53CACE;
}

p:nth-of-type(2) {
  font-size: 1em;
}
*/
.signup .ui-input-text>input {
    margin: 0;
    min-height: 2.8em;
    text-align: left;
    border: 0;
	border-bottom: 0px solid #c1c0c0;
    background: rgba(0, 0, 0, 0) none !important;
    -webkit-appearance: none !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
	float:left;
	width:90%;
}
.signup .ui-shadow-inset
{
	webkit-box-shadow: inset 0 0px 0px /*{global-box-shadow-size}; rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    box-shadow: inset 0 0px 0px /*{global-box-shadow-size}; rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
}
.signup .button .ui-btn
{
	     background-color: #ffffff !important; 
    border-color: #3b7dfd;
    color: #000000;
    text-shadow: 0 0px 0 #444444; 
}
.signup .button .ui-btn:active, .signup .button .ui-btn:hover, .signup .button .ui-btn:focus, .signup .button .ui-btn:visited
{
	     background-color: #00a4ff  !important; 
    border-color: #00a4ff ;
    color: #ffffff;
    text-shadow: 0 0px 0 #444444; 
}
.signup .button .ui-shadow{
webkit-box-shadow: 0 0px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    -moz-box-shadow: 0 0px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    box-shadow: 0 0px 0px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
}
.icons
{
	float:left;
	width:10%;
	margin-top:1%;
}
.ui-controlgroup, fieldset.ui-controlgroup
{
	border-bottom:1px solid #efefef;
	border-radius:0px;
}
.fa-2x {
    font-size: 1em;
    color: #d2d2d2;
}
.btn-group>.btn:first-child {
    margin: 10px 10px;
	width:90px;
}
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin: 10px 10px;
	width:90px;
}

.form-control {
    display: block;
    width: 100%;
    height: 47px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
     border-radius: 0px; 
     -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); 
     box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
     -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; 
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
     transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
    border-bottom: 1px solid #ccc;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 0px solid #ccc;
    border-radius: 0px;
	border-bottom:1px solid #ccc;
}
.form-control:focus {
border-color: #ccc; 
    outline: 0;
     -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
     box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0); 
}
.btn-group>.btn-primary {
     background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%); 
    background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
     background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff)); 
     background-image: linear-gradient(to bottom,#fff 0,#fff 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
     background-repeat: repeat-x; 
    border-color: #245580;
    color: #000;
	border-radius:5px;
}
.btn-group>.btn-primary.active, .btn-group>.btn-primary:active
{
	  background-image: -webkit-linear-gradient(top,#245580 0,#245580 100%); 
    background-image: -o-linear-gradient(top,#245580 0,#245580 100%);
     background-image: -webkit-gradient(linear,left top,left bottom,from(#245580),to(#245580)); 
     background-image: linear-gradient(to bottom,#245580 0,#245580 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#245580', endColorstr='#245580', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
     background-repeat: repeat-x; 
	background-color:#245580 !important;
	color:#ffffff;
}
.btn-group>.btn-primary:focus, .btn-group>.btn-primary:hover {
    background-color: #265a88;
    background-position: 0 0px;
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 5px;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}